@use ".././utils/media";

.creator {
  position: relative;
  background-image: url(".././images/creator/repeat_bg.png");
  background-size: 1280px;
  background-position: center;

  background-repeat: repeat;
  background-size: auto 50%;
  animation: scroll-bg 20s linear infinite;
  @include media.mq(tab) {
    background-size: 300px;
    animation: scroll-bg 40s linear infinite;
  }

  /* 上側：右向きの三角形 */
  &::before {
    content: "";
    position: absolute;
    top: -200px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-bottom: 300px solid transparent;
    border-right: 500px solid #c5c5fb; /* → 尖った部分が左向き */
    @include media.mq(tab) {
      top: -35px;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-right: 100px solid #c5c5fb; /* → 尖った部分が左向き */
    }
  }

  /* 下側：左向きの三角形 */
  &::after {
    content: "";
    position: absolute;
    bottom: -250px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 300px solid transparent;
    border-bottom: 200px solid transparent;
    border-left: 500px solid #cee3fe; /* → 尖った部分が右向き */
    @include media.mq(tab) {
      bottom: -75px;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 100px solid #cee3fe; /* → 尖った部分が右向き */
    }
  }
}

.creator_inner {
  margin: auto;
  // width: 200px;
}

.creator_title {
  margin-top: 30px;
  text-align: center;
  position: relative;
  z-index: 2;
  @include media.mq(tab) {
    margin-top: 10px;
  }
  img {
    width: 650px;
    @include media.mq(tab) {
      width: 65%;
    }
  }
}

.creator_desc {
  font-size: 28px;
  font-family: "kei";
  margin-top: 80px;
  text-align: center;
  @include media.mq(tab) {
    margin-top: 20px;
    font-size: 1rem;
  }
}

.creator_gallary {
  margin-top: 100px;
  scroll-margin-top: 80px;
  @include media.mq(tab) {
    margin-top: 40px;
    scroll-margin-top: 60px;
  }
}

.creator_gallary_title {
  text-align: center;

  span {
    display: inline-block;
    position: relative;
    letter-spacing: 10px;
    font-size: 90px;
    font-family: "kei";
    @include media.mq(tab) {
      font-size: 2rem;
      line-height: 1.5;
      display: inline;
    }

    /* 上側：右向きの三角形 */
    &::before {
      content: "";
      position: absolute;
      bottom: 20px;
      left: -75px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 50px solid #ec70a7; /* → 尖った部分が左向き */
      transform: rotate(-125deg);
      @include media.mq(tab) {
        left: -45%;
      }
    }

    /* 下側：左向きの三角形 */
    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      right: -75px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 50px solid #ec70a7; /* → 尖った部分が左向き */
      transform: rotate(-50deg);
      @include media.mq(tab) {
        right: -33%;
      }
    }
  }
}
.creator_gallary_sub_title {
  text-align: center;
  margin-top: 30px;
  @include media.mq(tab) {
    margin-top: 10px;
  }
  span {
    display: inline-block;
    margin: 0 auto;
    font-family: "kei";
    font-size: 20px;
    color: #fff;
    background-color: #ec70a7;
    padding: 5px 100px;
    @include media.mq(tab) {
      font-size: 1rem;
      padding: 5px 20px;
    }
  }
}

// ■ ■ ■ スライダー設定 start ■ ■ ■
.swiper-wrap {
  position: relative;
}

.swiper {
  margin: 60px auto 0;
  // max-width: 1200px;
  @include media.mq(tab) {
    margin: 40px auto 0;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  // transform: translateY(-50%);
  z-index: 10;
  width: 30px;
  height: 30px;
  background: none;
  cursor: pointer;
  @include media.mq(tab) {
    display: none !important;
    width: 30px;
    height: 30px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  content: "";
  position: absolute;
  left: 100px !important;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 50px solid #ec70a7;
  // transform: rotate(-125deg);
  @include media.mq(tab) {
    left: 20px !important;
  }
}

.swiper-button-next {
  content: "";
  position: absolute;
  right: 100px !important;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 50px solid #ec70a7;
  @include media.mq(tab) {
    right: 20px !important;
  }
}

.swiper-pagination {
  margin: 50px 0;
  position: relative !important;
  bottom: 10px;
  text-align: center !important;
  z-index: 10;
  @include media.mq(tab) {
    margin: 25px 0;
  }
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #999 !important;
  display: inline-block;
  margin: 0 4px;
  border-radius: 50%;
  cursor: pointer !important;
}

.swiper-pagination-bullet-active {
  background: #ec70a7 !important;
}

// ■ ■ ■ スライダー設定 end ■ ■ ■

.creator_gallary_area {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  @include media.mq(tab) {
    display: block;
    max-width: 100%;
  }
}

.creator_gallary_card {
  width: 50%;
  // width: 100%;
  position: relative;
  flex: 0 0 50%;
  padding: 0 30px 30px 0;
  @include media.mq(tab) {
    width: 90%;
    flex: auto;
    margin: 0 auto;
    padding: 0 20px 20px 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 15px;
    width: 95%;
    height: 95%;
    // background: #ffb96c;
    // F09ABF
    border: solid 2px #3c3c3c;
    z-index: -1;
    @include media.mq(tab) {
      top: 15px;
      left: 15px;
      width: 95%;
      height: 97%;
    }
  }

  img {
    width: 100%;
    display: block;
    border: solid 2px #3c3c3c;
    // border-radius: 4px;
  }
}

.swiper-wrapper .swiper-slide {
  display: block !important;
}

// ほし　https://x.com/hoshi_u3（8月更新）#FFEB8A
.swiper-wrapper .swiper-slide.item1 {
  .creator_gallary_card:after {
    background: #ffeb8a;
  }
}

// 三つ葉ちょこ　https://www.youtube.com/channel/UCVIxsmwsAIDe6a91XxdYCew（6月15日更新）#FF8894
.swiper-wrapper .swiper-slide.item2 {
  .creator_gallary_card:after {
    background: #ff8894;
  }
}

//  ゆがー　https://x.com/yugirlpict #F09ABF
.swiper-wrapper .swiper-slide.item3 {
  .creator_gallary_card:after {
    background: #f09abf;
  }
}

// 小日向ほしみ　https://x.com/deepstarhoshimi #A4BAEA
.swiper-wrapper .swiper-slide.item4 {
  .creator_gallary_card:after {
    background: #a4baea;
  }
}

// 空維深夜　https://x.com/tears39_kenzen #8EC1F4
.swiper-wrapper .swiper-slide.item5 {
  .creator_gallary_card:after {
    background: #8ec1f4;
  }
}

// もちつきうさ　https://x.com/Usa3Motituki #9DE7F9
.swiper-wrapper .swiper-slide.item6 {
  .creator_gallary_card:after {
    background: #9de7f9;
  }
}

// yuuma　https://x.com/12yuuma24 #B6EA94
.swiper-wrapper .swiper-slide.item7 {
  .creator_gallary_card:after {
    background: #b6ea94;
  }
}

// 中津コン　https://x.com/KonNakatsu #FFB96C
.swiper-wrapper .swiper-slide.item8 {
  .creator_gallary_card:after {
    background: #ffb96c;
  }
}

// 恋小いろり　https://x.com/ilolikoiko #816B9E
.swiper-wrapper .swiper-slide.item9 {
  .creator_gallary_card:after {
    background: #816b9e;
  }
}

// ちな　https://x.com/Siro_Omochi1226 #fff （6/8中）
.swiper-wrapper .swiper-slide.item10 {
  .creator_gallary_card:after {
    background: #fff;
  }
}

// ワタナベサワーB #5A5A5A
.swiper-wrapper .swiper-slide.item11 {
  .creator_gallary_card:after {
    background: #5a5a5a;
  }
}

.creator_gallary_intro {
  width: 50%;
  padding-left: 50px;
  position: relative;
  @include media.mq(tab) {
    width: 90%;
    padding: 0;
    margin: 30px auto 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%); /* 真ん中に配置 */
    width: 350px; /* 丸のサイズ */
    height: 350px;
    background: #faf4a6; /* 丸の色 */
    border-radius: 50%;
    z-index: -100;
    @include media.mq(tab) {
      display: none;
    }
  }
}

.creator_gallary_intro_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.creator_gallary_intro_title_name {
  font-size: 42px;
  font-family: "kei";
  @include media.mq(tab) {
    font-size: 1.5rem;
  }
}

.creator_gallary_intro_title_link {
  a {
    display: inline-block;
  }
  img {
    width: 30px;
    @include media.mq(tab) {
      width: 20px;
    }
  }
  .youtube {
    width: 50px;
    @include media.mq(tab) {
      width: 40px;
    }
  }
}

.creator_gallary_intro_title_line {
  margin-top: 20px;
  @include media.mq(tab) {
    margin-top: 10px;
  }
  svg {
    width: 100%;
  }
}

.creator_gallary_intro_desc {
  margin-top: 30px;
  font-size: 20px;
  font-family: "kosugi";
  line-height: 1.5;
  @include media.mq(tab) {
    margin-top: 20px;
    font-size: 1rem;
  }
}

@keyframes scroll-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
