.footer {
  margin-top: 100px;
  background-color: #fee64e;
  padding: 60px 30px 30px;
  a{
    transition: opacity .2s;    
  }
  a:hover {
    opacity: .6;
  }
}
.footer_title {
  font-size: 48px;
  font-family: "kei";
  text-align: center;
}

.footer_links {
  margin-top: 60px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer_link_1 {
  width: 400px;
  height: 60px;
  text-align: center;
  border: 2px solid #ff8400;
  background-color: #fff;
  padding: 8px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 140px;
  }
}

.footer_link_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  font-size: 32px;
  font-family: "kei";
  color: #fff!important;
  text-align: center;
  background-color: #c0143c;
  padding: 8px 0 5px;
}

.footer_inquiry {
  margin-top: 60px;
  a {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 60px;
    font-size: 24px;
    font-family: "kei";
    text-align: center;
    background-color: #fff;
    border: 2px solid #000;
    padding: 8px 0 5px;
  }
}

.footer_copy {
  margin-top: 40px;
  text-align: center;
  &_line {
    display: inline-block;
    width: 100%;
    height: 16px;
    background-image: url(".././images/footer_line.png");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }
  img {
    width: 200px;
  }
}
