<div class="concept">
  <div class="concept_inner fade-in-target">

    <div class="concept_title">
      <span>阪南市から、世界へ！</span><br />
      <span>ポップカルチャーの力でつながろう。</span>
    </div>
    <div class="concept_desc">
      <p
      >日本のポップカルチャーは、ユニークなストーリーと心をくすぐる<br>ビジュアルで、世界中のファンを魅了しています。<br
        /><br />
        「はんなんKawaiiプロジェクト」は、ご当地/企業キャラ・VTuber・イラストレーターと共に、その魅力を発信する挑戦です。<br
        /><br />
        ご当地キャラや企業PRグッズを多数手がけてきた、グッズメーカー「いらすとぷらす」のノウハウを活かし、<br>イベントやグッズ展開を通じて全面サポート。<br
        /><br />
        地域・企業・クリエイターの力をひとつにしていきます。</p>
      <div class="concept_link">
        <a href="https://hk-project.com/aboutus" target="_blank">詳しくはこちら</a>
      </div>
    </div>
  </div>

</div>