<div class="creator">
  <div class="creator_inner">

    <div class="creator_title">
      <img src="images/creator/title.png" alt="クリエイター部門" />
    </div>

    <div class="creator_desc fade-in-target">
      豪華イラストレーターが集結！<br />
      「色彩×花」をテーマに、それぞれの個性が光る描き下ろしイラストを公開。<br
      />
      ここだけの特別なイラストをお楽しみください。<br />
      今をときめく日本の<br class="is-sp"/>人気のクリエイターたちをご紹介します！
    </div>

    <div id="gallary" class="creator_gallary">

      <div class="fade-in-target">
        <div class="creator_gallary_title"><span>ILLUST GALLARY</span></div>
        <div class="creator_gallary_sub_title"><span
          >クリエイター部門作家紹介</span></div>
      </div>

      {{! 

XのURL一覧（スライド下から順）
ワタナベサワーB
ちな　https://x.com/Siro_Omochi1226
恋小いろり　https://x.com/ilolikoiko #816B9E
中津コン　https://x.com/KonNakatsu
yuuma　https://x.com/12yuuma24
もちつきうさ　https://x.com/Usa3Motituki
空維深夜　https://x.com/tears39_kenzen #8EC1F4
小日向ほしみ　https://x.com/deepstarhoshimi
ゆがー　https://x.com/yugirlpict #F09ABF
三つ葉ちょこ　https://www.youtube.com/channel/UCVIxsmwsAIDe6a91XxdYCew（6月15日更新）
ほし　https://x.com/hoshi_u3（8月更新）

 }}

      <div class="swiper-wrap">
        <div class="swiper">
          <ul class="swiper-wrapper">

            {{! ほし　https://x.com/hoshi_u3（8月更新） #FFEB8A}}
            {{!-- <li class="swiper-slide item1">
              <div class="creator_gallary_area">
                <div class="creator_gallary_card">
                  <img src="images/creator/img_1.png" alt="ほし_イラスト" />
                </div>
                <div class="creator_gallary_intro">
                  <div class="creator_gallary_intro_title">
                    <div class="creator_gallary_intro_title_name">
                      ほし
                    </div>
                    <div class="creator_gallary_intro_title_link">
                      <a href="https://x.com/hoshi_u3" target="_blank">
                        <img
                          src="images/creator/gallary_intro_title_link.png"
                          alt="x"
                        />
                      </a>
                    </div>
                  </div>

                  <div class="creator_gallary_intro_title_line">
                    <svg
                      viewBox="0 0 379 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        fill="#FFEB8A"
                      />
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        stroke="#FFEB8A"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>

                  <div class="creator_gallary_intro_desc">
                    ガーリーな雰囲気で、あどけなさを感じさせる美少女を描くイラストレーター。<br
                    />
                    制服や日常のワンシーンに独自のアレンジを加え、シンプルながらも印象的なデザインで魅了する。<br
                    />
                    VTuberのキャラクターデザインやグッズイラストなどを手がけつつ、自身も「ほし」の名でVTuberとして活動中。
                  </div>
                </div>
              </div>
            </li> --}}

            {{! 三つ葉ちょこ　https://www.youtube.com/channel/UCVIxsmwsAIDe6a91XxdYCew（6月15日更新） #FF8894 }}
            {{!-- <li class="swiper-slide item2">
              <div class="creator_gallary_area">
                <div class="creator_gallary_card">
                  <img
                    src="images/creator/img_2.png"
                    alt="三つ葉ちょこ_イラスト"
                  />
                </div>
                <div class="creator_gallary_intro">
                  <div class="creator_gallary_intro_title">
                    <div class="creator_gallary_intro_title_name">
                      三つ葉ちょこ
                    </div>
                    <div class="creator_gallary_intro_title_link">
                      {{! TODO: youtube }}
                      <a
                        href="https://www.youtube.com/channel/UCVIxsmwsAIDe6a91XxdYCew"
                        target="_blank"
                      >
                        <img
                          class="youtube"
                          src="images/creator/gallary_intro_title_link_youtube.png"
                          alt="youtube"
                        />
                      </a>
                    </div>
                  </div>

                  <div class="creator_gallary_intro_title_line">
                    <svg
                      viewBox="0 0 379 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        fill="#FF8894"
                      />
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        stroke="#FF8894"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>

                  <div class="creator_gallary_intro_desc">
                    甘やかな世界観と、どこか儚げな空気感をまとった美少女を描くイラストレーター。<br
                    />
                    ゴシックやロリータ、吸血鬼などのモチーフを巧みに取り入れ、画面越しにも伝わる艶やかな肌で人々の心を惹きつける。<br
                    />
                    メロンブックスや電撃萌王などでの商業活動のほか、VTuberとしても活動し、作品制作やイベント情報を積極的に発信中。
                  </div>
                </div>
              </div>
            </li> --}}

            {{! ゆがー　https://x.com/yugirlpict #F09ABF }}
            <li class="swiper-slide item3">
              <div class="creator_gallary_area">
                <div class="creator_gallary_card">
                  <img src="images/creator/img_3.png" alt="ゆがー_イラスト" />
                </div>
                <div class="creator_gallary_intro">
                  <div class="creator_gallary_intro_title">
                    <div class="creator_gallary_intro_title_name">
                      ゆがー
                    </div>
                    <div class="creator_gallary_intro_title_link">
                      <a href="https://x.com/yugirlpict" target="_blank">
                        <img
                          src="images/creator/gallary_intro_title_link.png"
                          alt="x"
                        />
                      </a>
                    </div>
                  </div>

                  <div class="creator_gallary_intro_title_line">
                    <svg
                      viewBox="0 0 379 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        fill="#F09ABF"
                      />
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        stroke="#F09ABF"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>

                  <div class="creator_gallary_intro_desc">
                    透明感と繊細な塗りで、情緒あふれる美少女を描くイラストレーター。<br
                    />
                    清楚なキャラクターの瞳には、キラキラとした輝きとともに、それぞれの個性や物語性が丁寧に表現されている。<br
                    />
                    「クラスのクォーター美少女が義妹になった。知らないうちに口説いてた。」をはじめとした、数々のライトノベルの挿絵やVTuberのキャラクターデザインなど、多彩な分野で活躍中。
                  </div>
                </div>
              </div>
            </li>

            {{! 小日向ほしみ　https://x.com/deepstarhoshimi #A4BAEA}}
            <li class="swiper-slide item4">
              <div class="creator_gallary_area">
                <div class="creator_gallary_card">
                  <img
                    src="images/creator/img_4.png"
                    alt="小日向ほしみ_イラスト"
                  />
                </div>
                <div class="creator_gallary_intro">
                  <div class="creator_gallary_intro_title">
                    <div class="creator_gallary_intro_title_name">
                      小日向ほしみ
                    </div>
                    <div class="creator_gallary_intro_title_link">
                      <a href="https://x.com/deepstarhoshimi" target="_blank">
                        <img
                          src="images/creator/gallary_intro_title_link.png"
                          alt="x"
                        />
                      </a>
                    </div>
                  </div>

                  <div class="creator_gallary_intro_title_line">
                    <svg
                      viewBox="0 0 379 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        fill="#A4BAEA"
                      />
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        stroke="#A4BAEA"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>

                  <div class="creator_gallary_intro_desc">
                    大阪府阪南市商工会公認キャラクター「美海＆さくら」の公式イラストレーター。
                    <br />
                    数々の美麗なイラストを手がけ、地域イベントやグッズ展開では“ご当地好き”の心を虜にしている。<br
                    />
                    和と洋の要素を巧みに組み合わせ、落ち着きと華やかさを併せ持つ独自の世界観を創り出す。<br
                    />
                    商業・個人を問わず活動の幅を広げながら、ファンとの交流も大切にしている。
                  </div>
                </div>
              </div>
            </li>

            {{! 空維深夜　https://x.com/tears39_kenzen #8EC1F4 }}
            <li class="swiper-slide item5">
              <div class="creator_gallary_area">
                <div class="creator_gallary_card">
                  <img src="images/creator/img_5.png" alt="空維深夜_イラスト" />
                </div>
                <div class="creator_gallary_intro">
                  <div class="creator_gallary_intro_title">
                    <div class="creator_gallary_intro_title_name">
                      空維深夜
                    </div>
                    <div class="creator_gallary_intro_title_link">
                      <a href="https://x.com/tears39_kenzen" target="_blank">
                        <img
                          src="images/creator/gallary_intro_title_link.png"
                          alt="x"
                        />
                      </a>
                    </div>
                  </div>

                  <div class="creator_gallary_intro_title_line">
                    <svg
                      viewBox="0 0 379 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        fill="#8EC1F4"
                      />
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        stroke="#8EC1F4"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>

                  <div class="creator_gallary_intro_desc">
                    女の子のハツラツとした表情や、やわらかな肌の質感が魅力のイラストレーター兼漫画家。<br
                    />
                    遠くからでも目を惹く鮮やかな色使いが特徴で、なかでも青の使い方には特に定評がある。<br
                    />
                    ゲーム原画や漫画連載など、多彩なジャンルで活動を続け、作品ごとに異なる表情を見せてくれる。<br
                    />
                    細部まで丁寧に描き込まれた画面は、じっくり眺めるたびに新しい発見があるはず。
                  </div>
                </div>
              </div>
            </li>

            {{! もちつきうさ　https://x.com/Usa3Motituki #9DE7F9 }}
            <li class="swiper-slide item6">
              <div class="creator_gallary_area">
                <div class="creator_gallary_card">
                  <img
                    src="images/creator/img_6.png"
                    alt="もちつきうさ_イラスト"
                  />
                </div>
                <div class="creator_gallary_intro">
                  <div class="creator_gallary_intro_title">
                    <div class="creator_gallary_intro_title_name">
                      もちつきうさ
                    </div>
                    <div class="creator_gallary_intro_title_link">
                      <a href="https://x.com/Usa3Motituki" target="_blank">
                        <img
                          src="images/creator/gallary_intro_title_link.png"
                          alt="x"
                        />
                      </a>
                    </div>
                  </div>

                  <div class="creator_gallary_intro_title_line">
                    <svg
                      viewBox="0 0 379 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        fill="#9DE7F9"
                      />
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        stroke="#9DE7F9"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>

                  <div class="creator_gallary_intro_desc">
                    きらきらとした涼しげな透明感で、爽やかな空気感を届けてくれるイラストレーター。<br
                    />
                    細やかな小物づかいで季節感を大切にしながら、物語に寄り添う世界を丁寧に描き出す。<br
                    />
                    ライトノベル『便利すぎるチュートリアルスキルで異世界ぽよんぽよん生活』の表紙・挿絵を担当。VTuberの記念イラストなども手がけている。
                  </div>
                </div>
              </div>
            </li>

            {{! yuuma　https://x.com/12yuuma24 #B6EA94 }}
            <li class="swiper-slide item7">
              <div class="creator_gallary_area">
                <div class="creator_gallary_card">
                  <img src="images/creator/img_7.png" alt="yuuma_イラスト" />
                </div>
                <div class="creator_gallary_intro">
                  <div class="creator_gallary_intro_title">
                    <div class="creator_gallary_intro_title_name">
                      yuuma
                    </div>
                    <div class="creator_gallary_intro_title_link">
                      <a href="https://x.com/12yuuma24" target="_blank">
                        <img
                          src="images/creator/gallary_intro_title_link.png"
                          alt="x"
                        />
                      </a>
                    </div>
                  </div>

                  <div class="creator_gallary_intro_title_line">
                    <svg
                      viewBox="0 0 379 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        fill="#B6EA94"
                      />
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        stroke="#B6EA94"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>

                  <div class="creator_gallary_intro_desc">
                    繊細な線で紡がれる、優しさと温もりを描くイラストレーター。<br
                    />
                    華奢でファッショナブルな美少女たちは、女の子らしくありながら、芯のある存在感を放つ。<br
                    />
                    デジタル・アナログを自在に使い分け、アートとしての完成度の高さにも定評がある。<br
                    />
                    原画・着彩などを中心にゲーム業界で活躍する一方、個人・商業問わず全国のイベントにも精力的に参加している。
                  </div>
                </div>
              </div>
            </li>

            {{! 中津コン　https://x.com/KonNakatsu #FFB96C }}
            <li class="swiper-slide item8">
              <div class="creator_gallary_area">
                <div class="creator_gallary_card">
                  <img src="images/creator/img_8.png" alt="中津コン_イラスト" />
                </div>
                <div class="creator_gallary_intro">
                  <div class="creator_gallary_intro_title">
                    <div class="creator_gallary_intro_title_name">
                      中津コン
                    </div>
                    <div class="creator_gallary_intro_title_link">
                      <a href="https://x.com/KonNakatsu" target="_blank">
                        <img
                          src="images/creator/gallary_intro_title_link.png"
                          alt="x"
                        />
                      </a>
                    </div>
                  </div>

                  <div class="creator_gallary_intro_title_line">
                    <svg
                      viewBox="0 0 379 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        fill="#FFB96C"
                      />
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        stroke="#FFB96C"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>

                  <div class="creator_gallary_intro_desc">
                    動物と女の子への深い愛情を原動力に、数多くのご当地キャラクターを手がけるイラストレーター。<br
                    />
                    愛嬌たっぷりの女の子と、思わず触れたくなるような動物たちのイラストは、全国各地で親しまれている。<br
                    />
                    はっきりとした色合いと印象的な構図で、見る人の目を引く画面づくりが魅力。
                  </div>
                </div>
              </div>
            </li>

            {{! 恋小いろり　https://x.com/ilolikoiko #816B9E }}
            <li class="swiper-slide item9">
              <div class="creator_gallary_area">
                <div class="creator_gallary_card">
                  <img
                    src="images/creator/img_9.png"
                    alt="恋小いろり_イラスト"
                  />
                </div>
                <div class="creator_gallary_intro">
                  <div class="creator_gallary_intro_title">
                    <div class="creator_gallary_intro_title_name">
                      恋小いろり
                    </div>
                    <div class="creator_gallary_intro_title_link">
                      <a href="https://x.com/ilolikoiko" target="_blank">
                        <img
                          src="images/creator/gallary_intro_title_link.png"
                          alt="x"
                        />
                      </a>
                    </div>
                  </div>

                  <div class="creator_gallary_intro_title_line">
                    <svg
                      viewBox="0 0 379 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        fill="#816B9E"
                      />
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        stroke="#816B9E"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>

                  <div class="creator_gallary_intro_desc">
                    素朴で優しいキャラクター表現と、シンプルながらも“かわいさ”が際立つ衣装デザインを得意とするイラストレーター。<br>
                    繊細なタッチと柔らかな色使いで、どこか親しみやすい空気感を描いている。<br>
                    VTuber「萌月いろり」のキャラクターデザインや、グッズイラスト制作など幅広く活動中。
                  </div>
                </div>
              </div>
            </li>

            {{! ちな　https://x.com/Siro_Omochi1226 #fff （6/8中） }}
            <li class="swiper-slide item10">
              <div class="creator_gallary_area">
                <div class="creator_gallary_card">
                  <img src="images/creator/img_10.png" alt="ちな_イラスト" />
                </div>
                <div class="creator_gallary_intro">
                  <div class="creator_gallary_intro_title">
                    <div class="creator_gallary_intro_title_name">
                      ちな
                    </div>
                    <div class="creator_gallary_intro_title_link">
                      <a href="https://x.com/Siro_Omochi1226" target="_blank">
                        <img
                          src="images/creator/gallary_intro_title_link.png"
                          alt="x"
                        />
                      </a>
                    </div>
                  </div>

                  <div class="creator_gallary_intro_title_line">

                    {{!-- <svg
                      viewBox="0 0 379 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        fill="#816B9E"
                      />
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        stroke="#816B9E"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg> --}}

                    {{!-- <svg
                      width="382"
                      height="20"
                      viewBox="0 0 382 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    > --}}


                    <svg
                      viewBox="0 0 382 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.68005 7.22998C17.5101 7.22998 17.51 13.23 28.33 13.23C39.15 13.23 39.16 7.22998 49.98 7.22998C60.8 7.22998 60.81 13.23 71.63 13.23C82.45 13.23 82.46 7.22998 93.28 7.22998C104.1 7.22998 104.11 13.23 114.93 13.23C125.75 13.23 125.76 7.22998 136.58 7.22998C147.4 7.22998 147.4 13.23 158.23 13.23C169.06 13.23 169.06 7.22998 179.88 7.22998C190.7 7.22998 190.7 13.23 201.53 13.23C212.36 13.23 212.36 7.22998 223.18 7.22998C234 7.22998 234.01 13.23 244.83 13.23C255.65 13.23 255.66 7.22998 266.49 7.22998C277.32 7.22998 277.32 13.23 288.15 13.23C298.98 13.23 298.98 7.22998 309.81 7.22998C320.64 7.22998 320.64 13.23 331.47 13.23C342.3 13.23 342.3 7.22998 353.13 7.22998C363.96 7.22998 363.96 13.23 374.79 13.23"
                        stroke="#BBBBBB"
                        stroke-width="13"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                      <path
                        d="M6.68005 7.22998C17.5101 7.22998 17.51 13.23 28.33 13.23C39.15 13.23 39.16 7.22998 49.98 7.22998C60.8 7.22998 60.81 13.23 71.63 13.23C82.45 13.23 82.46 7.22998 93.28 7.22998C104.1 7.22998 104.11 13.23 114.93 13.23C125.75 13.23 125.76 7.22998 136.58 7.22998C147.4 7.22998 147.4 13.23 158.23 13.23C169.06 13.23 169.06 7.22998 179.88 7.22998C190.7 7.22998 190.7 13.23 201.53 13.23C212.36 13.23 212.36 7.22998 223.18 7.22998C234 7.22998 234.01 13.23 244.83 13.23C255.65 13.23 255.66 7.22998 266.49 7.22998C277.32 7.22998 277.32 13.23 288.15 13.23C298.98 13.23 298.98 7.22998 309.81 7.22998C320.64 7.22998 320.64 13.23 331.47 13.23C342.3 13.23 342.3 7.22998 353.13 7.22998C363.96 7.22998 363.96 13.23 374.79 13.23"
                        stroke="white"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg>
                    {{! <svg
                      viewBox="0 0 379 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                    
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        fill="#000"
                      />
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        stroke="#fff"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg> }}
                  </div>

                  <div class="creator_gallary_intro_desc">
                    和歌山市加太町のPRキャラクター「夕雛りの」のデザイン・グッズイラストを手掛けている。<br
                    />
                    キャッチーで可憐な少女像を描き出す、表現力とセンスを備えた新進気鋭のイラストレーター。<br
                    />
                    その確かな実力と創造力から、今後さらなる飛躍が期待される。
                  </div>
                </div>
              </div>
            </li>

            {{! ワタナベサワーB #5A5A5A }}
            <li class="swiper-slide item11">
              <div class="creator_gallary_area">
                <div class="creator_gallary_card">
                  <img
                    src="images/creator/img_11.png"
                    alt="ワタナベサワーB_イラスト"
                  />
                </div>
                <div class="creator_gallary_intro">
                  <div class="creator_gallary_intro_title">
                    <div class="creator_gallary_intro_title_name">
                      ワタナベサワーB
                    </div>
                    {{! <div class="creator_gallary_intro_title_link">
                      <a href="https://x.com/ilolikoiko" target="_blank">
                        <img
                          src="images/creator/gallary_intro_title_link.png"
                          alt="x"
                        />
                      </a>
                    </div> }}
                  </div>

                  <div class="creator_gallary_intro_title_line">
                    <svg
                      viewBox="0 0 379 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        fill="#5A5A5A"
                      />
                      <path
                        d="M5.68005 5.22998C16.5101 5.22998 16.51 11.23 27.33 11.23C38.15 11.23 38.16 5.22998 48.98 5.22998C59.8 5.22998 59.81 11.23 70.63 11.23C81.45 11.23 81.46 5.22998 92.28 5.22998C103.1 5.22998 103.11 11.23 113.93 11.23C124.75 11.23 124.76 5.22998 135.58 5.22998C146.4 5.22998 146.4 11.23 157.23 11.23C168.06 11.23 168.06 5.22998 178.88 5.22998C189.7 5.22998 189.7 11.23 200.53 11.23C211.36 11.23 211.36 5.22998 222.18 5.22998C233 5.22998 233.01 11.23 243.83 11.23C254.65 11.23 254.66 5.22998 265.49 5.22998C276.32 5.22998 276.32 11.23 287.15 11.23C297.98 11.23 297.98 5.22998 308.81 5.22998C319.64 5.22998 319.64 11.23 330.47 11.23C341.3 11.23 341.3 5.22998 352.13 5.22998C362.96 5.22998 362.96 11.23 373.79 11.23"
                        stroke="#5A5A5A"
                        stroke-width="10"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>

                  <div class="creator_gallary_intro_desc">
                    アニメやゲームが大好きで、推しキャラを描きながら日々腕を磨くイラストレーターの卵。<br
                    />
                    憧れの作家たちの作品に刺激を受け、「自分もいつか神絵師に！」と情熱を燃やし続けている。<br
                    />
                    歌うことも大好きで、イラストと音楽の両面から夢を追いかける、未来のアーティスト候補。
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </div>

  {{! <div>
    <span class="swiper-pagination-bullet">swiper-pagination-bullet</span>
    <span class="swiper-pagination-bullet-active">swiper-pagination-bullet-active</span>
  </div> }}
</div>