<div class="event_expo">
    <img src="images/event/expo.png" alt="" />
</div>

<div class="event_store">
  <a href="https://hk-project.com/" target="_blank"> 
    <img src="images/store.png" alt="" />
  </a>
</div>