<div class="footer">
  <div>
    <div class="footer_title">SHARE</div>
    <ul class="footer_links">
      <li>
        <a class="footer_link_1" href="">
          <img src="/images/footer_logo.png" alt="copy" />
        </a>
      </li>
      <li>
        <a class="footer_link_2" href="">
          阪南市商工会
        </a>
      </li>
    </ul>
    <div class="footer_inquiry">
      <a href="">お問い合わせ</a>
    </div>
    
    <div class="footer_copy">
      <span class="footer_copy_line"/>
      <img src="/images/footer_copy.png" alt="copy" />
    </div>

  </div>

</div>