<div class="footer">
  <div>
    <div class="footer_title">SHARE</div>
    <ul class="footer_links">
      <li>
        <a class="footer_link_1" href="https://illust-plus.com/" target="_blank">
          <img src="/images/footer_logo.png" alt="copy" />
        </a>
      </li>
      <li>
        <a class="footer_link_2" href="https://hannan-sci.jp/" target="_blank">
          阪南市商工会
        </a>
      </li>
    </ul>
    <div class="footer_inquiry">
      <a href="https://hk-project.com/inquiry" target="_blank">お問い合わせ</a>
    </div>
    
    <div class="footer_copy">
      <span class="footer_copy_line"></span>
      <div class="footer_copy_txt">©︎ ２０２５　いらすとぷらす</div>

      {{!-- <img src="/images/footer_copy.png" alt="copy" /> --}}
    </div>

  </div>

</div>