<div class="header">

  {{!-- TODO: 追従にする --}}
  <div class="logo is-visible">
    <img src="images/logo.png" alt="" />
  </div>
  <div>
    <ul class="header_links mini-wakuwaku">
      <li>
        <a href="#concept">
          CONCEPT
        </a>
      </li>
      <li class="header_goods">
        <a href="https://hk-project.com/" target="_blank">
          <span class="header_goods_text">GOODS</span>
          <span class="header_goods_img"><img
              src="images/header_goods.png"
              alt=""
            /></span>
        </a>
      </li>
      <li><a href="#gallary">GALLARY</a></li>
      <li><a href="#event">EVENT</a></li>
    </ul>
  </div>
</div>