    <div class="header">
      <div class="logo">Illust Plus</div>
      <div>
        <ul class="header_links">
          <li>CONCEPT</li>
          <li>GOODS</li>
          <li>GALLARY</li>
          <li>IVENT</li>
        </ul>
      </div>
    </div>