    <div class="kv">
      <div class="kv_inner">
        <div class="kv_logo">
          <img src="images/kv/logo.png" alt="" />
        </div>
        <ul class="kv_panel">
          <li>
            <div class="kv_panel_bg">
              <img class="kv_panel_img" src="images/kv/panel_1.png" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_bg">
              <img class="kv_panel_img" src="images/kv/panel_2.png" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_bg">
              <img class="kv_panel_img" src="images/kv/panel_3.png" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_bg">
              <img class="kv_panel_img" src="images/kv/panel_4.png" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_bg">
              <img class="kv_panel_img" src="images/kv/panel_5.png" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_bg">
              <img class="kv_panel_img" src="images/kv/panel_6.png" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_bg">
              <img class="kv_panel_img" src="images/kv/panel_7.png" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_bg">
              <img class="kv_panel_img" src="images/kv/panel_1.png" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_bg">
              <img class="kv_panel_img" src="images/kv/panel_2.png" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_bg">
              <img class="kv_panel_img" src="images/kv/panel_3.png" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_bg">
              <img class="kv_panel_img" src="images/kv/panel_4.png" alt="" />
            </div>
          </li>
          <li>
            <div class="kv_panel_bg">
              <img class="kv_panel_img" src="images/kv/panel_5.png" alt="" />
            </div>
          </li>
        </ul>
      </div>
        <span class="kv_line"/>

    </div>
