<div class="local">
  <div class="local_inner">

    <div class="local_title">
      <img src="images/local/title.png" alt="ご当地/企業部門" />
    </div>

    <div class="local_copy fade-in-target">
      <img src="images/local/copy.png" alt="ご当地キャラクター大集合！各地の魅力をアプローチ" />
    </div>

    <div class="creator_desc fade-in-target">
      ご当地/企業キャラクター総勢50名以上が参加！<br />
      全力で阪南市の魅力をPRする姿をみんなで応援しよう！！
      <br />
      各参加キャラクターのオリジナルグッズ通販も先行販売中！
    </div>

    <div class="local_support fade-in-target">
      <img src="images/local/support.png" alt="ご当地/企業キャラクター" />
    </div>
  </div>
</div>