<div class="sns">
  <div class="sns_title">
    <img src="images/sns/title.png" alt="vtuber部門" />
  </div>

  <div class="sns_embed_area">
    <img src="images/sns/embed.png" alt="vtuber部門" />
    <div class="sns_embed">

      <div>
        {{#each tweets}}
          <blockquote class="twitter-tweet">
            <a href="{{this}}"></a>
          </blockquote>
        {{/each}}
      </div>

    </div>

  </div>


  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>

</div>