<div class="vtuber">
  <div class="vtuber_inner">

    <div class="vtuber_title">
      <img src="images/vtuber/title.png" alt="vtuber部門" />
    </div>

    <div class="vtuber_copy fade-in-target">
      <div>未来を担うVtuber</div>
    </div>

    <div class="creator_desc fade-in-target">
      次世代のエンタメを切り開くため日々奮闘中！<br />
      プロジェクトに参加しているVtuberを一挙ご紹介！<br />
      彼女たちを知って、あなたの“推し”を見つけてみよう。
    </div>

    <div class="vtuber_support fade-in-target">
      <img src="images/vtuber/test.png" alt="" />
    </div>

    <div class="wave-divider">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,32L40,42.7C80,53,160,75,240,74.7C320,75,400,53,480,42.7C560,32,640,32,720,53.3C800,75,880,117,960,133.3C1040,149,1120,139,1200,154.7C1280,171,1360,213,1400,234.7L1440,256L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
        ></path>
      </svg>

    </div>
  </div>
</div>