@use "./utils/tokens";
@use "./utils/media";

@use "./layout/header";
@use "./layout/kv";
@use "./layout/footer";
@use "./layout/concept";
@use "./layout/creator";

// @use './utils/variables';
// @use './base/reset';

// @use './layout/footer';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
}

.fade-in-target {
  opacity: 0;
  transform: translateY(100px); /* 少し下から */
  transition: opacity 1s ease-out, transform 1s ease-out;
  animation-delay: 1s;
}

.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@font-face {
  font-family: "mini-wakuwaku";
  src: url("/fonts/mini-wakuwaku-maru.otf") format("opentype");
}

.mini-wakuwaku {
  font-family: "mini-wakuwaku";
}

@font-face {
  font-family: "kei";
  src: url("/fonts/keifont.ttf") format("truetype");
}

.kei {
  font-family: "kei";
}
