@use './utils/tokens';
@use './utils/media';

@use './layout/header';
@use './layout/kv';


// @use './utils/variables';
// @use './base/reset';

// @use './layout/footer';


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  background-color: #fff;
}



// .header {
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   padding: 20px 40px;
// }

// .logo {
//   font-size: 48px;
//   color: #f19953;
// }

// .header_links {
//   display: flex;
//   font-size: 24px;
// }
// .header_links > li {
//   margin-right: 35px;
// }

// /* kv */
// .kv {
//   padding: 30px;
//   background-color: #fee64e;
// }

// .kv_inner {
//   padding: 20px;
//   background-color: #fff;
//   display: flex;
//   justify-content: center; /* 横方向中央 */
//   align-items: center; /* 縦方向中央 */
//   height: calc(100vh - 200px);
// }

// .kv_logo {
//   width: 600px;
//   opacity: 0;
//   transform: translateY(20px);
//   animation: fadeUp 0.8s ease-out forwards;
// }

// img {
//   width: 100%;
// }

// .kv_panel {
//   position: absolute;
//   width: calc(100vw - 100px);
//   height: calc(100vh - 200px);
// }

// .kv_panel_bg {
//   position: relative;
//   padding: 20px;
//   aspect-ratio: 1 / 1;
//   margin-bottom: 10px;
// }

// .kv_panel_img {
//   position: absolute;
//   left: 20px;
//   top: 0;
//   width: 100%;
// }

// .kv_panel > li {
//   width: calc((100vw - 180px) / 5);
//   position: absolute;
//   top: 0;
//   opacity: 0;
//   transform: translateY(20px);
//   animation: fadeUp 0.8s ease-out forwards;
// }

// .kv_panel > li:nth-child(1) {
//   animation-delay: 0.4s;
// }

// .kv_panel > li:nth-child(1) .kv_panel_bg {
//   background-color: #feeb8a;
// }

// .kv_panel > li:nth-child(2) {
//   position: relative;
//   left: 200px;
//   animation-delay: 0.6s;
// }

// .kv_panel > li:nth-child(2) .kv_panel_bg {
//   background-color: #feb96c;
// }

// .kv_panel > li:nth-child(3) {
//   top: 0;
//   left: 400px;
//   animation-delay: 0.8s;
// }

// .kv_panel > li:nth-child(3) .kv_panel_bg {
//   background-color: #ff8894;
// }

// .kv_panel > li:nth-child(4) {
//   top: 0;
//   left: 600px;
//   animation-delay: 1s;
// }

// .kv_panel > li:nth-child(4) .kv_panel_bg {
//   background-color: #f09abf;
// }

// .kv_panel > li:nth-child(5) {
//   top: 0;
//   left: 800px;
//   animation-delay: 1.2s;
// }

// .kv_panel > li:nth-child(5) .kv_panel_bg {
//   background-color: #c4b4d8;
// }

// .kv_panel > li:nth-child(6) {
//   top: 200px;
//   left: 800px;
//   animation-delay: 1.4s;
// }

// .kv_panel > li:nth-child(6) .kv_panel_bg {
//   background-color: #fff;
//   border: 2px solid #e2dceb;
// }

// .kv_panel > li:nth-child(7) {
//   top: 400px;
//   left: 800px;
//   animation-delay: 1.6s;
// }

// .kv_panel > li:nth-child(7) .kv_panel_bg {
//   background-color: #fff;
//   border: 2px solid #939393;
// }

// .kv_panel > li:nth-child(8) {
//   top: 400px;
//   left: 600px;
//   animation-delay: 1.8s;
// }

// .kv_panel > li:nth-child(8) .kv_panel_bg {
//   background-color: #939393;
// }

// .kv_panel > li:nth-child(9) {
//   top: 400px;
//   left: 400px;
//   animation-delay: 2s;
// }

// .kv_panel > li:nth-child(9) .kv_panel_bg {
//   background-color: #b6ea94;
// }

// .kv_panel > li:nth-child(10) {
//   top: 400px;
//   left: 200px;
//   animation-delay: 2.2s;
// }

// .kv_panel > li:nth-child(10) .kv_panel_bg {
//   background-color: #9ee7f9;
// }

// .kv_panel > li:nth-child(11) {
//   top: 400px;
//   left: 0px;
//   animation-delay: 2.4s;
// }

// .kv_panel > li:nth-child(11) .kv_panel_bg {
//   background-color: #8dc1f4;
// }

// .kv_panel > li:nth-child(12) {
//   top: 200px;
//   left: 0px;
//   animation-delay: 2.6s;
// }

// .kv_panel > li:nth-child(12) .kv_panel_bg {
//   background-color: #a4baeb;
// }

// /* アニメーション */
// .fade-up {
//   opacity: 0;
//   transform: translateY(20px);
//   animation: fadeUp 0.8s ease-out forwards;
// }

// @keyframes fadeUp {
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// .lean {
//   animation-delay: 1s;
//   animation: lean 0.8s ease-out forwards;
// }

// @keyframes lean {
//   0% {
//     transform: rotate(0deg);
//   }
//   50% {
//     transform: rotate(45deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }
